<!-- Template for App View -->
div.content#content
	h1 Ready to start !

	h2 You now have
	ul
		li Backbone (<a href="http://backbonejs.org/">http://backbonejs.org/</a>)
		li Coffeescript (<a href="http://coffeescript.org/">http://coffeescript.org/</a>)
		li Jade (<a href="http://jade-lang.com/">http://jade-lang.com/</a>)
		li Stylus (<a href="http://learnboost.github.io/stylus/">http://learnboost.github.io/stylus/</a>)
		li JQuery 2(<a href="http://jquery.com/">http://jquery.com/</a>)
		li Gsap(<a href="http://www.greensock.com/gsap-js/">http://www.greensock.com/gsap-js/</a>)
		li Raphael(<a href="http://raphaeljs.com/">http://raphaeljs.com/</a>)
		li RequireJS (<a href="http://requirejs.org/">http://requirejs.org/</a>)
		li Underscore (<a href="http://underscorejs.org/">http://underscorejs.org/</a>)
		li Modernizer	 (<a href="http://modernizr.com/">http://modernizr.com/</a>)

	h2 Generators
	ul
		li <code>yo pr0d:view</code> create Backbone View class (with Model, Template, Stylus file and generate require module)
		li <code>yo pr0d:model</code> create Backbone Model class
		li <code>yo pr0d:collection</code> create Backbone Collection class (with Model)

	h2 Command
	ul
		li <code>grunt</code> to launch your project with watch and livereload
		li <code>grunt compile</code> to compile all Stylus, jade and CoffeeScript files
		li <code>grunt build</code> to build a deploy version of your project
		li <code>grunt build-dist</code> to launch a server with the final version
		li <code>grunt seo</code> to generate seo files
		li <code>grunt deploy</code> to push all dist files on ftp server
		li <code>grunt seo-preprod</code> to generate seo files for preprod version
		li <code>grunt deploy-preprod</code> to push all dist files on preprod ftp server

	h2 For start
	p.
		Delete this HTML code in <code>src/views/app/app.jade</code><br />and Stylus style in <code>src/views/app/app.styl</code><br />
		Start coding!

	h3 Enjoy coding! - Yeoman
